[submodule "extern/argparse"]
	path = extern/argparse
	url = https://github.com/hbristow/argparse.git
[submodule "extern/triedcontainer"]
	path = extern/triedcontainer
	url = https://github.com/charelstoncrabb/triedcontainer.git
